.section__loader {
    position: fixed; /* Couvre toute la page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $secondary; /* Corrige la couleur du fond pour qu'elle soit valide */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    opacity: 1; 
    animation: fadeOutLoader 7s forwards; 
}

@keyframes fadeOutLoader {
    to {
        opacity: 0; /* Devient complètement transparent */
        visibility: hidden; /* S'assure qu'il ne bloque pas les interactions avec la page après disparition */
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #99e2d0; 
    margin: 0 9px; /* Espace entre les points */
    animation: pulse 1s infinite;
    animation-delay: calc(0.2s * var(--i)); /* Délai basé sur la variable personnalisée pour décaler l'animation de chaque point */
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(2); /* Grossit au milieu de l'animation */
    }
}
