body {
    max-width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_banniere--menu--img {
    position: relative;
    width: 100%;
}

.header_img--menu--img {
    width: 100%;
    height: 383px;
    object-fit: cover;
}

.main_container--menu {
    position: relative;
    max-width: 1440px;
    margin-top: -60px;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    margin-inline: auto;
    padding-top: 50px;

    &__title{
        display: flex;
        align-items: center;
        gap: 55px;
    }

    &__title__font {
        font-family: 'Shrikhand', serif;
        font-weight: 400;
        font-size: 28px;
        font-style: italic;
    }

    &__sub-and-price {
        margin: 0px;
        display: flex;
        justify-content: space-between;
    }
    
    &__section {
        margin-bottom: 40px;

        &__content {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
}

.main_container--menu__list {
    display: flex;
    min-width: 320px;
    max-width: 630px;
    width: 60vw;
    border-radius: 15.04px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    gap: 5px;
    /* -webkit-box-shadow: 0px 4px 10px 0px; */
    position: relative;
    overflow: hidden;
    transition: padding-right 0.5s ease;

    @media (min-width: 950px) {
        width: 100%;
        &:has(input:hover) {
            .main_container--menu__list__checkbox {
                right: 0px;
            }
        }
    }

    label {
        flex: 1;
    }

    &__checkbox {
        position: absolute;
        right: -40px;
        top: 0;
        height: 100%;
        transition: right 0.5s ease;
        display: flex;
        align-items: end;
        }
        
    

    &__checkbox_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: #99e2d0;
    }
        
    
    &:has(input:checked) {

        .main_container--menu__list__checkbox {
        right: 0px;
        }
    }

    &__price {
        padding: 5px 10px;
    }
    // when the checkbox is checked
    input[type='checkbox'] {
        display: none;
    }
    

    &__title {
        display: flex;
        font-weight: 500;
        margin: 0px;
        font-size: 18px;
        
    }

    &__sub-and-price {
        display: flex;
        justify-content: space-between;

        &__price__icon {
            display: flex;
        }
    }
}


.main_container--menu__section__content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (min-width: 950px) {
        width: 634px;
    }
}

.main_container--menu__entree__title {
    font-weight: 300;
    font-size: 16px;
    position: relative; /* Permet de positionner le pseudo-élément par rapport à ce titre */
    display: inline-block;
}

.main_container--menu__entree__title::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -3px;
    width: 40px;
    height: 3px;
    background-color: rgba(153, 226, 208, 1);
    transform: translateX(-50%);
}

.main_container--menu__list__sub-and-price {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.main_container--menu__list__subtitle {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
}

.main_container--menu__list__price {
    margin: 0px;
}
.main_container--menu__list__checkbox_input {
    display: none; /* Cache la checkbox réelle si vous ne voulez pas qu'elle soit visible */
}

.go-back-link{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.go-back{
    position: absolute;
    top: 33px;
    left: 17px;

}
