
$primary: rgba(147, 86, 220, 1);

$secondary: #FF79DA;

$blue2:rgba(0, 58, 104, 1);

$blue: rgba(137, 200, 250, 1);

$green-font:rgba(0, 135, 102, 1);

$green:rgba(153, 226, 208, 1);


$heart-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);


:root {
    --heart-empty-color: black; /* Couleur pour le cœur vide */
    --heart-filled-gradient-start: #9356DC; /* Début du gradient */
    --heart-filled-gradient-end: #FF79DA; /* Fin du gradient */
}