html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 100%;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

h1{
    font-family: "Shrikhand", sans-serif;
}

h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}

h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    color: black;
}

p{
    color: black;
}

